.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insta_bg {
    width: 700px;
    height: 700px;
    border-radius: 30%;
    background: radial-gradient(at 25% 80%, yellow 0%,rgb(255, 0, 128) 45% , purple 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta_bgline {
    width: 550px;
    height: 550px;
    border: 30px solid white;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta_circle_line{
    width: 200px;
    height: 200px;
    border: 30px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta_filled_circle {
    width: 60px;
    height: 60px;
    background:rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    right: 540px;
    top: 200px;
}
.text {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}